$grid-max-width: 1200px;
$shelves-max-width: 1200px;

@import 'vanilla-framework/scss/build.scss';

/* Background colors */

.background-green {
    background-color: #3fb24f;
}

.background-red {
    background-color: #fc4949;
}

.background-orange {
    background-color: #dd4814;
}

.background-purple {
    background-color: #762572;
}

.background-blue {
    background-color: #1ab6ef;
}

.background-lightgrey {
    background-color: #888888;
}

.background-darkgrey {
    background-color: #5d5d5d;
}

.background-white {
    background-color: #f5f5f5;
}

/* Text colors */

.text-green {
    color: #3fb24f;
}

.text-red {
    color: #fc4949;
}

.text-orange {
    color: #dd4814;
}

.text-purple {
    color: #762572;
}

.text-blue {
    color: #1ab6ef;
}

.text-lightgrey {
    color: #888888;
}

.text-darkgrey {
    color: #5d5d5d;
}

.text-white {
    color: #f5f5f5;
}

/* Tweaks */

.p-form {
    margin-bottom: 1em;
}

@media (max-width: 459px) {
    .p-matrix__item {
        width: 100%;
    }
}

.p-matrix__img {
    height: auto;
    max-height: none;
}

// Hide the arrow on select boxes
select {
    -webkit-appearance: none;
    -moz-appearance: none;
}
