<template>
    <div class="row loading u-clearfix" v-if="loading">
        <flower-spinner :animation-duration="2500" :size="70" color="#B31B21"></flower-spinner>
    </div>
</template>

<script>
export default {
    name: 'GroceryCategories',
    props: ['loading'],
};
</script>
